[sources.internal]
type = "internal_logs"

[sinks.loki]
type = "loki"
inputs = ["internal"]
endpoint = "http://loki:3100"
out_of_order_action = "accept"
encoding.codec = "json"

[sinks.loki.labels]
service = "{{ label.com_docker_compose_service }}"
container = "{{ container_name }}"
level = "{{ level }}"
